@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");

.header {
  color: red;
  font-size: 4em;
  line-height: 75px;
  font-family: "Festive", cursive;
  text-align: center;
  border-bottom: 1px solid grey;
}

.main {
  font-family: sans-serif;
}

.yourGroups {
  display: flex;
  justify-content: left;
}

.group {
  margin: 3px;
  background-color: blue;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.today {
  display: flex;
}

.todayDetails {
  margin-right: 25px;
}

.image {
  width: 150px;
  height: 100px;
  border-radius: 10px;
  margin-top: 25px;
}
